# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

# macOS
.DS_Store

# Ignore all data and generated outputs
/data/
/figures/

# Ignore other years for the pub version
run_simba_interface_2025.py
run_simba_interface_2026.py
functions/snfCTD.py

# Temporary files
*.tmp
*.log
